.body{
  font-family: 'Quicksand', sans-serif;
}
 .main_container .h2{
  color:#05386b;
}
h5 {
  padding-top: 9px;
}
main_container h2 span{
  font-style:italic;
  text-decoration: underline;
  color: #5cdb95;
}
.col1 .border:hover{
  width: 454px;
  height: 314px;
}
.col1 .border:hover{
  width: 454px;
  height: 304px;
}
.col2 .border:hover{
  width: 454px;
  height: 304px;
}
